<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.plivo.sip"
    version="1.0.7">
    
    <name>Plivo SIP</name>
    <description>Plivo SIP</description>
    <author>Vladimir Gatev</author>
    <license>Apache</license>
    
    <asset src="www/plivo.js" target="js/plivo.js" />
    
    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            
        </config-file>
        
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="Plivo">
                <param name="android-package" value="com.plivo.sip"/>
            </feature>
        </config-file>
        
        <framework src="com.android.support:support-v4:+" />
        
        
      
        <source-file src="src/com/plivo/sip.java"
        target-dir="src/com/plivo" />
        <source-file src="src/android/libs/plivoendpoint.jar"
        target-dir="libs" />
        <source-file src="src/android/libs/armeabi/libplivo.so"
        target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi-v7a/libpjplivo.so"
        target-dir="libs/armeabi-v7a" />
    </platform>
   
</plugin>